.logo-wrapper {
	text-align: center;
	color: $c-w;
	margin: 0 auto;
	position: relative;
	@include vertical-align;
	img {
		max-width: 300px;
		margin-bottom: 40px;
		&:after {
			content: '';
			height: 1px;
			width: 40px;
			position: absolute;
			bottom: -20px;
			left: 0px;
			right: 0px;
			background-color: $c-w;
		}
	}
	.callout {
		display: inline-block;
		margin: 0 auto;
		@include hollow-button($c-w);
		padding: 12px 48px;
	}
}
.subtitle {
	text-align: center;
	color: $c-w;
}
footer {
	text-align: center;
	background-color: rgba(0,0,0,0.9);
	padding: 20px 0px;
	color: $c-w;
}